@font-face {
  font-family: 'Cal Sans';
  src: url('CalSans-SemiBold.woff') format('woff');
}

body {
  background-color: #f5f5f5;
  color: #363636;
  padding: 30px;
  font-size: 18px;
  font-weight: 400;
  font-family: Lexend Deca, sans-serif;
}

h2 {
  font-family: 'Cal Sans';
  letter-spacing: 0.01em;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
  margin: 0px;
}

h3 {
  font-family: 'Cal Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.01em;
  margin: 100px 0px 30px 0px;
}

h4 {
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  line-height: 150%;
}

a {
  color: #001AFF;
}

#navigation {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#navigation li {
  display: inline;
  margin-right: 40px;
  white-space: nowrap;
}
#navigation li:last-child {
  margin: 0px;
}

#navigation a {
  text-decoration: none;
  font-family: Lexend Deca;
  font-weight: 300;
  color: #363636;
  font-size: 20px;
}

#navigation a:hover {
  color: #001AFF;
  text-decoration: underline;
}

#navigation h1 {
  display: inline;
  font-size: 20px;
  font-weight: 500;
  font-family: Lexend Deca;
}

#content {
  max-width: 1080px;
  margin: auto;
  padding: 80px 0px 0px 0px;
}

#content p {
  line-height: 30px;
}

#footer {
  margin: auto;
  margin-top: 150px;
  list-style-type: none;
  text-align: center;
  font-size: 14px;
  padding-left: 0px !important;
  margin-left: 0px !important;
}

#footer li {
  display: inline;
  margin-right: 15px;
}
#footer li:last-child {
  margin-right: 0px;
}

#footer a {
  color: #363636;
  text-size: 14px;
}

/* component to place two images next to each other */
.image-2 {
  display: flex;
}
.image-2 div {
  float: left;
  width: 50%;
  padding: 25px;
}
.image-2 div img {
  width: 100%;
}

.image-big {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 50px 0px 30px 0px;
  width: 100%;
}

#portfolio p {
  margin: 0px;
  padding: 0px;
}

#portfolio img {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 100px 0px 30px 0px;
  width: 100%;
}

/*
  breakpoint 1 850px;
*/
@media only screen and (max-width: 850px) {
  h2 {
    font-size: 40px;
    line-height: 50px;
  }

  #content {
    padding-top: 60px;
  }

  #portfolio img {
    margin-top: 70px;
    margin-bottom: 10px;
  }

  #portfolio p, #portfolio h4 {
    font-size: 14px;
    line-height: 180%;
  }

  .image-big, #portfolio img {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 3px;
  }

  h3 {
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 15px;
  }
}


@media only screen and (max-width: 535px) {
  body {
    padding: 15px;
  }

  p {
    font-size: 16px;
  }

  #navigation h1 {
    display: blocK;
  }

  #navigation li:first-child {
    margin: 0px;
  }

  #navigation li:last-child {
    margin: 0px;
  }

  #content {
    padding-top: 35px;
  }

  h2 {
    font-size: 30px;
    line-height: 120%;
  }

  #portfolio img {
    margin-top: 40px;
    margin-bottom: 5px;
  }

  .image-2 div {
    float: left;
    width: 50%;
    padding: 0px;
  }

  .image-big {
    margin-top:20px;
  }
}

@media only screen and (max-width: 300px) {
  #navigation li {
    margin-right: 20px;
  }
}
