@font-face {
  font-family: 'Cal Sans';
  src: url('CalSans-SemiBold.woff') format('woff');
}

body {
  background-color: #F6F6F6;
  color: #363636;
  padding: 30px;
  font-size: 18px;
  font-weight: 400;
  font-family: Lexend Deca, sans-serif;
}

h2 {
  font-family: 'Cal Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0.02em;
  margin: 0px;
}

h3 {
  font-family: 'Cal Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 0.02em;
  margin: 100px 0px 30px 0px;
}

h4 {
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  line-height: 150%;
}

a {
  color: #001AFF;
}

#navigation {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#navigation li {
  display: inline;
  margin-right: 40px;
  white-space: nowrap;
}
#navigation li:last-child {
  margin: 0px;
}

#navigation a {
  text-decoration: none;
  font-family: Lexend Deca;
  font-weight: 300;
  color: #363636;
  font-size: 20px;
}

#navigation a:hover {
  color: #001AFF;
  text-decoration: underline;
}

#navigation h1 {
  display: inline;
  font-size: 20px;
  font-weight: 500;
  font-family: Lexend Deca;
}

#content {
  max-width: 1080px;
  margin: auto;
  padding: 80px 0px 0px 0px;
}

#portfolio {
  margin: 100px 0px 0px 0px;
}

#portfolio div {
  margin: 0px 0px 100px 0px;
}
#portfolio div:last-child {
  margin: 0px;
}

#portfolio img {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0px 0px 30px 0px;
  width: 100%;
}

#portfolio p {
  margin: 0px;
  padding: 0px;
}

#content p {
  line-height: 30px;
}

#footer {
  margin: auto;
  margin-top: 150px;
  list-style-type: none;
  text-align: center;
  font-size: 14px;
}

#footer li {
  display: inline;
  margin-right: 15px;
}
#footer li:last-child {
  margin-right: 0px;
}

#footer a {
  color: #363636;
  text-size: 14px;
}


@media only screen and (max-width: 531px) {
  #navigation h1 {
    display: blocK;
  }

  #navigation li:first-child {
    margin: 0px;
  }

  #navigation li:last-child {
    margin: 0px;
  }
}

@media only screen and (max-width: 541px) {
  h2 {
    font-size: 30px;
    line-height: 40px;
  }

  #portfolio {
    font-size: 14px;
  }

  #portfolio img {
    margin: 0px 0px 15px 0px;
  }

  #content {
    padding: 50px 0px 0px 0px;
  }

  #portfolio {
    margin: 55px 0px 0px 0px;
  }

  #portfolio p {
    line-height: 22px;
  }

  #portfolio div {
    margin: 0px 0px 60px 0px;
  }
}

@media only screen and (max-width: 426px) {
  body {
    padding: 15px;
  }
}

/*
  Navigation no longer fits in one lince,
  reduce space between navigation elements
*/
@media only screen and (max-width: 300px) {
  #navigation li {
    margin-right: 20px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }
}
