---
import Layout from '../components/base.astro'
---

<Layout>
  <h2>Datenschutzerklärung</h2>

  <br />

  <h4>Cookies</h4>
  <p>
  Diese Website verwendet keine Cookies.
  </p>

  <br />

  <h4>IONOS WebAnalytics</h4>
  <p>
    Diese Website verwendet die Analysesoftware IONOS WebAnalytics der Firma IONOS SE, Elgendorfer Str. 57, 56410 Montabaur.
  </p>
  <p>
    Die Daten werden durch ein Logfile ermittelt. Zum Schutz von personenbezogenen Daten verwendet WebAnalytics keine Cookies.
  </p>
  <p>
    Die IP des Besuchers wird bei der Übermittlung eines Seitenabrufes übertragen, nach der Übermittlung direkt anonymisiert und ohne Personenbezug verarbeitet.
  </p>
  <p>
    IONOS speichert keine personenbezogenen Daten von Websitenbesuchern, damit keine Rückschlüsse auf die einzelnen Besucher gezogen werden können. Es werden folgende Daten erhoben:
    <br />
    <br />Referrer (zuvor besuchte Webseite)
    <br />Angeforderte Webseite oder Datei
    <br />Browsertyp und Browserversion
    <br />Verwendetes Betriebssystem
    <br />Verwendeter Gerätetyp
    <br />Uhrzeit des Zugriffs
    <br />IP-Adresse in anonymisierter Form (wird nur zur Feststellung des Orts des Zugriffs verwendet)
  </p>
  <p>
    In WebAnalytics werden Daten ausschließlich zur statistischen Auswertung und zur technischen Optimierung des Webangebots erhoben.
  </p>
  <p>
    Es werden keine Daten an Dritte weitergegeben.
  </p>

  <br />

  <h4>Hosting</h4>
  <p>
    Diese Website wird gehostet bei der Firma IONOS SE, Elgendorfer Str. 57, 56410 Montabaur.
  </p>

  <br />

  <h4>Verantwortlicher</h4>
  <p>
    Simon Michaelis<br />
    Kamenzer Str. 9<br />
    01099 Dresden
  </p>
</Layout>
