---
import Layout from '../components/base.astro'
---

<Layout title="Simon Michaelis, Designer & Product Manager">
<h2>Trail map of Dresdner Heide</h2>
<div class="image-2">
  <div>
    <img src="./assets/heidetrails/legend.png">
  </div>
  <div>
    <img src="./assets/heidetrails/north-arrow.png">
  </div>
</div>
</Layout>
