---
import Layout from '../components/base.astro'
---

<Layout title="Trail Map of Dresdner Heide - Simon Michaelis">
  <h2>Trail Map of Dresdner Heide</h2>
  <p>
    This goal of this project was to map some of the locally built mountain biking
    trails in my local area. Most of these trails are probably only partly legal. However, a lot
    of hard work has been put into them.
  </p>

  <div class="image-2">
    <div>
      <img src="./assets/heidetrails/legend.png" alt="A legend of a trail map in red with pictograms for trails">
    </div>
    <div>
      <img src="./assets/heidetrails/north-arrow.png" alt="the north arrow of a map, including the scale of the map">
    </div>
  </div>

  <img src="./assets/heidetrails/heidetrails.png" alt="A map of a forest area with some mountain biking trails highlighted in red" class="image-big">
</Layout>
