---
import Layout from '../components/base.astro'
---

<Layout title="Impressum - Simon Michaelis">
  <h2>Impressum</h2>
  <p>
  Simon Michaelis<br />
  An der Ziegelei 1<br />
  50226 Frechen
  </p>
  <p>
  Email: simonmichaelis@gmail.com<br />
  Anrufen: 01707813219<br />
  <br />
  Ust-IdNr.: DE303362472
  </p>
</Layout>
