---
import Layout from '../components/base.astro'
---

<Layout>
  <h2>Impressum</h2>
  <p>
  Simon Michaelis<br />
  Kamenzer Str. 9<br />
  01099 Dresden
  </p>
  <p>
  Email: simonmichaelis@gmail.com<br />
  Anrufen: 01707813219<br />
  <br />
  Ust-IdNr.: DE303362472
  </p>
</Layout>
