---
import Layout from '../components/base.astro'
import Portfolio from '../components/portfolio.astro'
---

<Layout title="Simon Michaelis, Designer & Product Manager">
  <h2>I'm a freelance Designer and Product Manager. I also work on taggle.so</h2>

  <Portfolio/>

  <h3 id="about-me">About me</h3>
  <p>
    I’m a 32 y/o designer and product manager, originally from Cologne, Germany.
    I studied business informationt technology (2009 - 2012) and worked for some time as a Product Manager for pirobase imperia GmbH (2011 - 2015).
    After that I started working self-employed on various projects.
  </p><p>
    I’m lucky to have worked with amazing people who have taught me a lot.
    I mostly do user interface design and product management these days.
  </p><p>
    Besides that I’m trying to learn to play some jazz.
  </p>

  <h3 id="get-in-touch">Get in touch</h3>
  <p>Write me an <a href="mailto:simonmichaelis@gmail.com">email</a> or follow me on <a href="https://twitter.com/smichaelis" target="_blank">twitter</a>. Happy to hear from you!</p>
</Layout>
