---
import { Markdown } from 'astro/components';
---

<div id="portfolio">
  <Markdown>
    ![A map of a forest area with some mountain biking trails highlighted in red](assets/heidetrails/heidetrails.png)
    #### Trail map of Dresdner Heide
    A private project to map some of the most widely known mountain biking trails in my local area.
    Created with Maperitive & Sketch, using publicly available data from OpenStreetMap (base map), NASA (hillshading) and Strava (trail profiles).

    [Read more](./heidetrails)

    ![A screenshot of an online app, showing a 3d rendering of a cad model and the possibility to order it](assets/igus/idd.png)
    #### igus® - Online tools & design system
    For igus I created a design system for online tools and several product configurators based on that design system.
    
    [Read more](./work/igus)

    ![A minimalistic business card with a drawing of a trumpet](img/felix-ziebarth.png)
    #### Felix Ziebarth
    A young professional trumpet player and friend of mine. [Check out his music](https://www.youtube.com/channel/UCO0g51u7SGYW6Gav-l7vCXA)

    ![A screenshot of a colorful whiteboard like web application that also includes a kanban flow](img/taggle.png)
    #### Taggle.so
    Taggle.so is a new kind of project management tool for creative teams. [Check it out.](https://taggle.so)
  </Markdown>
</div>
