---
import Layout from '../../components/base.astro'
---

<Layout title="igus - Simon Michaelis">
  <h2>igus® - Online tools & design system</h2>
  <p>
    igus is an industrial company from Cologne, germany and a long term client of mine.
    Since igus offers highly customizable products, they rely on online configurators to sell their products.
    I created a design system for online applications and product configurators, which is still maintained and updated.
    In total, over 30 applications have been built on top of that design system by international product teams.
  </p>
  <p>
    Besides the design system I also created designs and concepts for various online tools, either as a Designer or Product Owner.
    Desinging those online tools required extensive domain knowledge in the field of engineering and close collaboration with various
    stakeholders and business units at igus.
  </p>
  <p>
    The design system has gone through multiple iterations. The current state is mostly based on Google's material design while also offering
    unique composed components, suitable for online tools in the area of mechanical engineering.
  </p>

  <img src="/assets/igus/ddx.png" alt="A screenshot of an online product configurator for linear systems, showing various inputs to enter requirements." class="image-big" />
  <img src="/assets/igus/idd.png" alt="A screenshot of an online app, showing a 3d rendering of a cad model and the possibility to order it" class="image-big" />
</Layout>
