---
import Layout from '../../components/base.astro'
---

<Layout title="igus - Simon Michaelis">
  <h2>igus - Online tools & design system</h2>
  <p>
    igus is an international industrial company based in Cologne, Germany. The offers highly customizable products.
    Therefore they rely on online configurators to sell products online.
    I developed a design system for online tools and product configurators, which is still actively maintained.
    About 30 applications have been built on top of that design system by multiple international product teams at igus.
  </p>
  <p>
    I also designed various online tools and configurators.
    Designing those online tools required extensive domain knowledge in the field of mechanical engineering and close collaboration with various
    stakeholders and business units at igus.
  </p>
  <p>
    The design system has gone through multiple iterations. The current state is mostly based on Google's material design.
    It also includes unique composed components, suitable for online tools in the area of mechanical engineering.
  </p>

  <img src="/assets/igus/idd.png" alt="A screenshot of an online app, showing the possibility to upload 3d files" class="image-big" />
  <img src="/assets/igus/idd2.png" alt="A screenshot of an online app, showing a 3d rendering of a cad model and the possibility to order it" class="image-big" />
  <img src="/assets/igus/ddx.png" alt="A screenshot of an online product configurator for linear systems, showing various inputs to enter requirements." class="image-big" />
</Layout>
