---
import Layout from '../../components/base.astro'
---

<Layout title="RBTX - Simon Michaelis">
  <h2>RBTX - Low Cost Robotics Platform</h2>
  <p>
    rbtx.com is a platform for low cost robotics. I helped the customer create the initial concept, design and business model for the platform during a one week design sprint.
    A core aspect of the platform is the intelligent shopping basket which lets users choose compatible parts from different manufacturers, something never seen before
    in the robitics industry. 
  </p>
  <p>
    After the initial design sprint, the platform was released at Hannover Messe in 2019. Four years after launch, 
    the platform now offers products from at least 100 partners, including ABB, Universal Robots and igus.
  </p>
  <p>
    <a href="https://rbtx.com" target="_blank">Visit rbtx.com</a>
  </p>

  <img src="/img/rbtx/rbtx-hmi.jpg" alt="A picture, showing the Booth of RBTX at Hannover Messe" class="image-big" />
  <img src="/img/rbtx/rbtx.png" alt="A screenshot of an online marketplac, showing the possibility to add robotics components to a shopping cart" class="image-big" />
  <img src="/img/rbtx/rbtx-designsprint-1.jpg" alt="A picture taken during a design sprint, showing whiteboards" class="image-big" />
  <img src="/img/rbtx/rbtx-designsprint-2.jpg" alt="A picture taken during a design spring, showing a miniature model of an industrial robot" class="image-big" />
</Layout>
